<h2 class="text-center">Restablecer contrase単a</h2>
{{#if error_msg}}
<div class="alert alert-danger">
    <p>{{error_msg}}</p>
</div>
{{/if}}
{{#if success_msg}}
<alert class="alert-success">
    <p>{{success_msg}}</p>
</alert>
{{/if}}
<form id="form" action="/auth/reset/{{token}}" method="POST" class="contact-form m-0im">
    <input type="hidden" value="{{csrfToken}}" name="_csrf">
    <div class="form-group">
        <label for="password" class="form-label">Nueva contrase単a:</label>
        <input class="custom-input" type="password" name="password" id="password" required>
    </div>
    <div class="form-group">
        <label class="form-label" for="passwordConfirm">Confirmar nueva contrase単a:</label>
        <input class="custom-input" type="password" name="passwordConfirm" id="passwordConfirm" required>
    </div>
    <button id="btn-submit" class="color-primary w-100" type="submit">Restablecer contrase単a</button>
</form>

<script type="module" src="/js/sendForm.js"></script>