<link rel="stylesheet" href="/css/admin/common-areas.css">
<link rel="stylesheet" href="/modules/tabulator/index.css">

<section class="main-container">
    <h1 class="pt-2">Adminitración - {{title}}</h1>
    <div id="commonAreasTable"></div>
</section>

<script type="module" src="/js/admin/common-areas.js"></script>
<script type="module" src="/modules/tabulator/index.js"></script>

