<!-- views/admin/news.handlebars -->
<link rel="stylesheet" href="/css/admin/news.css">
<link rel="stylesheet" href="/css/admin/common-areas.css">
<link rel="stylesheet" href="/modules/tabulator/index.css">
<link rel="stylesheet" href="/modules/loader/index.css">
<link rel="stylesheet" href="/modules/filePond/index.css">
<link rel="stylesheet" href="/modules/filePond/imgPreview.css">
<link rel="stylesheet" href="/modules/ckeditor/index.css">

<section class="main-container">
  <div class="container-buttons-title">
    <h1>Administración - {{title}}</h1>
    <div class="d-flex items-center gap-5px">
      <a href="/noticias" target="__blank" class="btn">
        <svg class="icon"><use href="/icons/icons.svg#icon-eye"></use></svg>
      </a>
      <button id="add-btn" class="color-primary sm">
        Agregar
      </button>
      <input id="search-all" type="text" placeholder="Buscar..." class="custom-input sm">
      <span class="text-switch"><b>Activos</b></span>
      <label class="switch">
        <input id="toggle-status" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div id="newsTable"></div>
</section>

<!-- Modal -->
{{>modal}}

<script type="module" src="/modules/ckeditor/ckeditor.js"></script>
<script type="module" src="/js/admin/news.js"></script>
<script type="module" src="/modules/tabulator/index.js"></script>
<script type="module" src="/modules/filePond/index.js"></script>
<script type="module" src="/modules/filePond/imgPreview.js"></script>
