<!-- Incluir el CSS y JS de Glider.js -->
<link rel="stylesheet" href="/modules/glider/index.css">
<link rel="stylesheet" href="/css/partials/carouselhome.css">

<div class="glider-contain">
  <!-- Flecha izquierda -->
  <button class="glider-prev">«</button>

  <div class="glider">
    {{#each links}}
    <div class="card box-shadow-none">
      <a href="{{this.url}}" target="_blank" class="">
        <img src="{{this.urlImage}}" alt="{{this.name}}">
      </a>
    </div>
    {{/each}}
  </div>

  <!-- Flecha derecha -->
  <button class="glider-next">»</button>

  <script src="/modules/glider/index.js"></script>
  <script src="/js/carouselhome.js"></script>
</div>