<!-- Incluir el CSS y JS de Glider.js -->

<link rel="stylesheet" href="/modules/glider/index.css">
<link rel="stylesheet" href="/css/partials/carouselhome.css">

<div class="glider-contain">
  <!-- Flecha izquierda -->
  <button class="glider-prev">«</button>

  <div class="glider">
    <div><img src="/images/banners/carousel/home1.png" alt="Image 1"></div>
    <div><img src="/images/banners/carousel/home1.png" alt="Image 2"></div>
    <div><img src="/images/banners/carousel/home1.png" alt="Image 3"></div>
  </div>

  <!-- Flecha derecha -->
  <button class="glider-next">»</button>

  <script src="/modules/glider/index.js"></script>
  <script src="/js/carouselhome.js"></script>
</div>