<link rel="stylesheet" href="/css/partials/modal.css">

<div id="message-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <div id="modal-header" class="modal-header">
            <h2 id="modal-title">Título del modal</h2>
            <span class="close">&times;</span>
        </div>
        <div id="modal-body">
            {{!-- El contenido se inyecta dinámicamente con JavaScript --}}
        </div>
    </div>
</div>
