<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>{{title}} - Administración</title>
  <meta name="csrf-token" content="{{csrfToken}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Enlace al archivo CSS -->
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <div class="admin-container">
    <!-- Encabezado con botón hamburguesa -->
    <header class="admin-header">
      <button class="hamburger" id="hamburger-btn">
        &#9776;
      </button>
      <h2>Administración</h2>
    </header>

    <!-- Barra lateral de navegación -->
    <nav class="sidebar" id="sidebar">
      <ul class="menu">
        <li class="{{#if (eq activePage 'common-areas')}}active{{/if}}"><a href="/admin/revistas">Revistas</a></li>
        <li class="{{#if (eq activePage 'videos')}}active{{/if}}"><a href="/admin/videos">Videos</a></li>
        <li class="{{#if (eq activePage 'gallery')}}active{{/if}}"><a href="/admin/galeria">Galería</a></li>
        <li class="{{#if (eq activePage 'news')}}active{{/if}}"><a href="/admin/noticias">Noticias</a></li>
        <li class="{{#if (eq activePage 'links')}}active{{/if}}"><a href="/admin/enlaces-de-interes">Enlaces de interés</a></li>
        <li class="{{#if (eq activePage 'associates')}}active{{/if}}"><a href="/admin/asociados">Asociados</a></li>
        <li class="{{#if (eq activePage 'whatsapp')}}active{{/if}}"><a href="/admin/whatsapp">WhatsApp</a></li>
        {{#ifEquals user.role 'superadmin'}}
        <li class="{{#if (eq activePage 'users')}}active{{/if}}"><a href="/admin/usuarios">Usuarios</a></li>
        {{/ifEquals}}
        <li class="{{#if (eq activePage 'profile')}}active{{/if}}"><a href="/admin/perfil">Perfil</a></li>
        <li class="li-logout"><a href="/auth/logout" class="logout-button">Cerrar sesión</a></li>
      </ul>
    </nav>

    <!-- Contenido principal -->
    <main class="main-content" id="main-content">
      {{{body}}}
    </main>
  </div>

  <!-- Enlace al archivo JavaScript -->
  <script src="/js/admin/layout.js"></script>
</body>

</html>
