<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <div class="d-flex flex-direction-column">
        <div class="d-flex justify-center">
            <img class="img-logo-auth" src="/images/faviconcaph.png" alt="">
        </div>
        <div class="auth-container">
            {{{body}}}
        </div>
    </div>
</body>

</html>