<div class="my-1">
    {{> videoSection
    videoUrl="QjPn-S9EkDI?si=1YpqOToxUcGWTg8T" 
    videoTitle="OPINIÓN RCN | ¿QUÉ HACER CON LOS VECINOS RUIDOSOS?" 
    programName="Noticias RCN | Programa: Opinión RCN"
    description1="Germán Molano Baquero, Presidente del Colegio de Administradores de Propiedad Horizontal de Bogotá..."
    description2="Las quejas por exceso de ruido y escándalos en el vecindario son pan de cada día..."
    videoLink="/videos"
}}
</div>