<link rel="stylesheet" href="/css/whoiam.css">

<div class="d-flex justify-center container-img">
    <img src="/images/whoiam/Logoquienes.png" alt="Quienes somos">
</div>
<div class="container-text">
    <h5><b>El COLEGIO DE ADMINISTRADORES DE PROPIEDAD HORIZONTAL DE BOGOTÁ</b>, es una entidad sin ánimo de lucro, de
        derecho privado, constituida por un seleccionado grupo de Administradores de Propiedad horizontal,
        Administradores
        de Empresas, Abogados, Contadores, Ingenieros, Arquitectos, y otros profesionales. Con un afán desinteresado de
        ayudar al desarrollo de las actividades propias del régimen especial, para beneficio de la comunidad y la
        profesionalización de la actividad de administración, hemos originado con sentido de responsabilidad y
        honestidad,
        la primera agremiación en el país, reconocida a nivel nacional e internacional, contando con el acompañamiento
        de
        los Profesionales de la Administración de Propiedad Horizontal de España, Argentina, Uruguay, Paraguay, Brasil,
        Italia, Venezuela.</h5>
    <h5>Preocupados por la informalidad como se gestiona la administración de edificios y conjuntos en Colombia, el
        <b>CAPH
            BOGOTA</b> ha participado en la orientación y fundación de Colegios de Administradores del Quindío, Meta y
        Llanos Orientales, Barranquilla, Cartagena y Región del Tequendama de Cundinamarca, con el objetivo social de
        propender por la formación inicial informal de los administradores colegiados, con la realización de cursos,
        talleres, seminarios, diplomados, congresos foros, tertulias en la búsqueda de una pronta legislación que
        permita la
        profesionalización del administrador de propiedad horizontal. Cada colegio es autónomo e independiente como lo
        es el
        <b>CAPH BOGOTA</b> y solo se confunden en solo organismo para el beneficio común.
    </h5>
    <h5><b>El CAPH BOGOTA</b> no persigue la cantidad de asociados sino la calidad de los mismos.</h5>
    <br><br>
    <h5 class="text-center"><b>GERMÁN MOLANO BAQUERO</b><br>Presidente CAPH Bogotá</h5>
    <br><br>
</div>