#data-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 1rem;
  }
  
/* Estilos de la tarjeta */
.card {
    width: 227px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    text-decoration: none;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-radius:8px 8px 0px 0px;
  }
  
  .card-content {
    padding: 10px 8px;
  }
  
  .card-title {
    font-size: 16px;
    color: #8B1D42;
    margin-bottom: 8px;
    line-height: 22px;
  }
  
  .card-edition {
    font-size: 14px;
    color: #b12554;
    font-weight: 600;
  }
  
  @media (max-width: 768px) { 
    .card {width: 100%;}
  }