<link rel="stylesheet" href="/modules/paginator/index.css">
<link rel="stylesheet" href="/modules/loader/index.css">
<link rel="stylesheet" href="/css/commonAreas.css">


<div id="loading-indicator" class="loading-spinner"></div>
<div id="data-container"></div>
<div id="pagination-container"></div>

<script type="module" src="/js/commonAreas.js"></script>