<link rel="stylesheet" href="/css/contactUs.css">
<link rel="stylesheet" href="/modules/loader/index.css">

<form id="myForm" class="contact-form">
    <div class="form-group">
        <label for="name" class="form-label">Nombre:</label>
        <input type="text" id="name" name="name" class="form-input" aria-required="true" aria-describedby="errorName">
        <span class="error-message" id="errorName"></span>
    </div>
    <div class="form-group">
        <label for="email" class="form-label">Correo electrónico:</label>
        <input type="email" id="email" name="email" class="form-input" aria-required="true"
            aria-describedby="errorEmail">
        <span class="error-message" id="errorEmail"></span>
    </div>
    <div class="form-group">
        <label for="subject" class="form-label">Asunto:</label>
        <input type="text" id="subject" name="subject" class="form-input" aria-required="true"
            aria-describedby="errorSubject">
        <span class="error-message" id="errorSubject"></span>
    </div>
    <div class="form-group">
        <label for="message" class="form-label">Mensaje:</label>
        <textarea cols="40" rows="4" id="message" name="message" class="form-textarea" aria-required="true"
            aria-describedby="errorMessage"></textarea>
        <span class="error-message" id="errorMessage"></span>
    </div>
    <div class="form-group d-flex flex-direction-column">
        <button type="submit" class="form-button pos-relative w-100">
            <span id="btn-text">Enviar</span>
            <div id="loading-indicator" class="loading-spinner"></div>
        </button>
    </div>
</form>

<div class="d-flex justify-center flex-direction-column items-center mt-1">
    <h4 class="text-center">
        <b>
            Colegio de Administradores de Propiedad Horizontal de Bogotá D.C
        </b>
    </h4>
    <h5 class="text-center">
        Dirección: Calle 63A No. 11-40
        <br>Cel: 316 679 7878 |
        colegiophbogota@gmail.com
    </h5>

    <iframe class="my-2 w-100"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.6864382121175!2d-74.06529018584283!3d4.649901443392154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a46434638eb%3A0xbeedb291895f29bf!2sCl.+63a+%2311-40%2C+Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1517073357166"
        width="800" height="600" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen="">
    </iframe>
</div>



{{>modal}}
<script type="module" src="/js/contactUs.js"></script>