<link rel="stylesheet" href="/css/contactUs.css">
<link rel="stylesheet" href="/modules/loader/index.css">

<form id="myForm" class="contact-form">
    <div class="form-group">
        <label for="name" class="form-label">Nombre:</label>
        <input type="text" id="name" name="name" class="form-input" aria-required="true" aria-describedby="errorName">
        <span class="error-message" id="errorName"></span>
    </div>
    <div class="form-group">
        <label for="email" class="form-label">Correo electrónico:</label>
        <input type="email" id="email" name="email" class="form-input" aria-required="true"
            aria-describedby="errorEmail">
        <span class="error-message" id="errorEmail"></span>
    </div>
    <div class="form-group">
        <label for="subject" class="form-label">Asunto:</label>
        <input type="text" id="subject" name="subject" class="form-input" aria-required="true"
            aria-describedby="errorSubject">
        <span class="error-message" id="errorSubject"></span>
    </div>
    <div class="form-group">
        <label for="message" class="form-label">Mensaje:</label>
        <textarea cols="40" rows="4" id="message" name="message" class="form-textarea" aria-required="true"
            aria-describedby="errorMessage"></textarea>
        <span class="error-message" id="errorMessage"></span>
    </div>
    <div class="form-group d-flex flex-direction-column">
        <button type="submit" class="form-button pos-relative w-100">
            <span id="btn-text">Enviar</span>
            <div id="loading-indicator" class="loading-spinner"></div>
        </button>
    </div>
</form>

<div class="d-flex justify-center flex-direction-column items-center mt-1">
    <h4 class="text-center">
        <b>
            Colegio de Administradores de Propiedad Horizontal de Bogotá D.C
        </b>
    </h4>
    <h5 class="text-center">
        Cel: <a class="underline" href="tel:+573166797878">316 679 7878</a> |
        <a class="underline" href="mailto:colegiophbogota@gmail.com">colegiophbogota@gmail.com</a>
    </h5>
</div>



{{>modal}}
<script type="module" src="/js/contactUs.js"></script>