<link rel="stylesheet" href="/css/whoiam.css">

<div class="d-flex justify-center container-img">
    <img src="/images/whoiam/Logoquienes.png" alt="Quienes somos">
</div>
<div class="container-text">
    <h5><b>El 16 de Diciembre del año de 1948</b> se creó el régimen especial de propiedad horizontal en nuestro país.
        La administración de inmuebles sometidos a este régimen comienza a dar sus primeros pasos y es así como surge
        una actividad que ha generado ocupación laboral e ingresos para las personas que en forma empírica, además de
        osada , han aportado su sentido común y alguna experiencia en gestiones parecidas...</h5>
    <h5>Desde entonces y hasta hace poco tiempo, la administración de inmuebles del régimen especial no tenía tanta
        importancia como otras gestiones inmobiliarias. En algunas empresas de arrendamientos la administración de
        edificios y conjuntos sometidos al régimen especial, tuvo su inicio como una actividad comercial, y es así, como
        unos quijotes fueron abriendo el sendero que hoy transitamos nosotros como gestores y operadores de las normas
        pertinentes.</h5>
    <h5><b>MOTIVACION</b></h5>
    <h5>El desarrollo urbanístico ha permitido que la propiedad horizontal sea el mejor presente y el verdadero futuro
        de la Humanidad. En el lote donde se inicien los cimientos para el levantamiento de un proyecto inmobiliario, se
        necesita un Administrador. Pero, como el Administrador debe tener un perfil especial y muchos conocimientos en
        diferentes áreas, es necesario lograr una preparación intelectual que le permita ofrecer y prestar un servicio
        con <b>CALIDAD Y EXCELENCIA.</b></h5>
    <h5>Teniendo en cuenta la ausencia del Estado en crear las condiciones oficiales para lograr la “idoneidad” de los
        Administradores de la propiedad horizontal, y, la poca participación del segmento civil en la creación de entes
        que aglutinaran con seriedad y mística a aquellas personas jurídicas y naturales con vocación de servicio y
        dedicadas a responder por patrimonios ajenos, además de atender a una población que hasta ahora comienza a
        entender la cultura de la propiedad horizontal, ha surgido desde el día 12 de Junio de 2004, para suplir esa
        sentida necesidad, una organización de carácter civil, sin ánimo de lucro y primera en su género, con el nombre
        de <b>Colegio de Administradores de Propiedad Horizontal De Bogotá.</b></h5>
    <br><br>
    <h5 class="text-center"><b>GERMÁN MOLANO BAQUERO</b><br>Presidente CAPH Bogotá</h5>
    <br><br>
</div>