<link rel="stylesheet" href="/modules/paginator/index.css">
<link rel="stylesheet" href="/modules/loader/index.css">
<link rel="stylesheet" href="/css/videos.css">

<div id="loading-indicator" class="loading-spinner"></div>

<!-- Input de Búsqueda -->
<div class="search-container">
    <div class="input-container">
        <input type="search" id="search-input" placeholder="Buscar..." aria-label="Buscar..." class="custom-input sm">
    </div>
</div>

<div id="data-container"></div>
<div id="pagination-container"></div>

{{>modal}}
<script type="module" src="/js/videos.js"></script>